* {
    margin: 0;
    padding: 0;
}

.cabecalho {
    background-color: #5A6794;
    color: #FFFFFF;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 24px;
    font-family: "Poppins",sans-serif;
}

.cabecalho-imagem {
    width: 19%;
}

.cabecalho-lista-item {
    display: inline-block;
    margin: 0 16px;
    font-size: 20px;
}

.escola-imagens{
    width: 25%;
}


.escola{
background-image: linear-gradient(#111F51,#4E9FE9);
color: #FFFFFF;
display: flex;
justify-content: center;
align-items: center;
padding: 24px 0;
font-family: "Poppins",sans-serif;
}

.escola-div-conteudo{
    width: 35%;
    text-align: center;
}

.escola-titulo{
    padding: 24px 0;
    font-size: 30px;
    text-align: center;
}

.estudante-imagem{
    width: 200px;
}

.estudante-icone{
    width: 50px;
}

.estudante-div{
    text-align: center;
    padding: 20px 20px;
}

.estudante{
    background-color: #D9D9D9;
}

.estudante-titulo{
    text-align: center;
    font-size: 32px;
    padding: 30px 0;
}

.estudante-todos{
    display: grid;
    grid-template-columns: 25% 25% 25% 25% ;
}

.rodape{
    background-color: #FFFFFF;
    text-align: center;
}
 
.rodape-imagem{
    height: 100px;
    padding: 12px 0;
}